<div id="spinner" style="background: #4267b2;border-radius: 5px;color: white;height: 40px;text-align: center;width: 250px;">
    Carregando
    <div class="fb-login-button"
        data-max-rows="1" data-size="large"
        data-button-type="continue_with" data-show-faces="false"
        data-auto-logout-link="false" data-use-continue-as="true"
        scope="public_profile,email,user_friends"
        onlogin="afterLogin()" ></div>
</div>