---
layout: default
---
<div ng-controller="searchController as search">
  <div class="bg-header">
    {% include header.html %}
  </div>
  
  <div class="content-post" ng-switch="!!search.selectedProcess">
    <div class="size margin" ng-switch-when="false">
      {% include processList.html %}
    </div>
    <div ng-switch-when="true">
      {% include process.html %}
    </div>
    <div class="share-wrapper">
    </div>
  </div>
</div>
