<footer>
  <div class="footer theme-container column align-items-center justify-content-center">
    <div class="footer--block text-align-center">
      <div class="" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
    </div>
  </div>
</footer>
