<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/the-grid-flexbox@2.0.1/css/the-grid.min.css">
  <link rel="stylesheet" href="/assets/css/aos.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-theme.css">

  <script src="/assets/js/vendor/aos.js"></script>
  <script src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
  <script src="/assets/js/src/facebook/api-loader.js"></script>
  <script src="/assets/js/vendor/lodash.min.js"></script>
  <script src="/assets/js/vendor/angular.min.js"></script>
  <script src="/assets/js/vendor/ngMask.min.js"></script>
  <script src="/assets/js/src/app.js"></script>
  <script src="/assets/js/src/facebook/login-button.js"></script>
  <script src="/assets/js/vendor/bootstrap.min.js"></script>
  <script src="/assets/js/vendor/jquery.cookie.min.js"></script>

  <script>
  </script>

  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <link rel="icon" href="/assets/img/favicon.ico">

  <!-- facebook -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.url }}/assets/img/app.jpg" />
  <meta property="fb:app_id" content="1666633256716208" />
  <meta property="fb:admins" content="100002787447461" />
  <!-- facebook -->

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  <meta name="twitter:image" content="{{ site.url }}/assets/img/app.jpg">
  <meta itemprop="name" content="{{ site.title }}">
  <meta itemprop="description" content="{{ site.description }}">
  <meta itemprop="image" content="{{ site.url }}/assets/img/app.jpg">
  <!-- twitter -->
</head>
