<header>

  <div class="header theme-container align-items-center justify-content-center">
    <div class="header--block size margin theme-container column">
      <div class="header--block--text" data-aos="fade-up" data-aos-delay="" data-aos-offset="0">
        Consulte seus processos judiciais
      </div>
      <div class="theme-container column position-search">
        <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-theme-container">
          <div class="header--block--input--icon" ng-click="search.getData()">
            <span class="feather-icon icon-search"></span>
          </div>
          <form novalidate ng-submit="search.getData()">          
            <input class="input-search" type="text" ng-model="searchService.user.cpf" placeholder="Digite seu CPF" mask="999.999.999-99">
          </form>
        </div>
        <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </div>
    </div>
  </div>


</header>
