<div class="menu">
  <div class="size margin menu--content theme-container align-items-center justify-content-between">

    <div class="" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
  </div>
</div>
