<div ng-switch="search.valid">
  <h2 class="text-result" ng-switch-when="false">
    Busca inválida :(
  </h2>
  <h2 class="text-result" ng-switch-when="true">
    <span ng-if="search.processList.length === 0">Parabéns! Nenhum processo encontrado</span>
    <span ng-if="!search.processList">Realize uma busca</span>
  </h2>
  <a ng-switch-when="true" ng-if="search.processList.length > 0" ng-click="search.selectProcess(proc)" ng-repeat="proc in search.processList" class="list-item theme-container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">
    <div class="list-item-icon theme-container align-items-center justify-content-center">
      <span class="feather-icon icon-{{post.icon}}" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500"></span>
    </div>
    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
        <h2 class="list-post-title">
          Nº <input class="readonly" ng-model="proc.processo" mask="9999999-99.9999.9.99.9999" readonly></input>
        </h2>
      </div>
      <div class="" data-aos="fade-up" data-aos-delay="700" data-aos-offset="0">
        <span class="list-post-description">{{'proc.ramoDireito' | angular}}</span>
      </div>
    </div>
  </a>
</div>
