<!-- ---
layout: default
--- -->

<!-- breadcrumbs -->
<div class="size margin" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">
  <!-- <div class="theme-container wrap breadcrumbs"> -->
    <button ng-click="search.unselect()">Voltar</button>
  <!-- </div> -->
</div>
<!-- breadcrumbs -->

<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title" data-aos="fade-up" data-aos-delay="200" data-aos-offset="0">Nº {{ 'search.selectedProcess.processo' | angular }}</h1>

    <table class="table card-table profile">
      <tbody>
        <tr ng-repeat="(label, value) in search.selectedProcess" >
          <td>{{'label | translate' | angular}}</td>
          <td>{{'value' | angular}}</td>
        </tr>
      </tbody>
		</table>
  </article>
</div>
