.card-table {
    td {
        margin: 0;
        padding: 1px 10px 1px 3px;
        color: #6d6d6d;
        vertical-align: middle;
        text-transform: uppercase;
        border: 0;

        &:first-child {
            width: 50%;
            color: #999ba8;
            text-align: right;
            text-transform: capitalize;
        }

        a {
            font-weight: 700;
            text-decoration: none;
            color: #3a8ae7;
        }
    }
}