{% include head.html %}

<body ng-app="app">
  <div class="supreme-container">
    {% include menu.html %}

    {{ content }}

    {% include footer.html %}
  </div>
        
  <!-- Modal -->
  <div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Minha Consciência Jurídica</h4>
          <p>Quer saber se você tem algum processo Judicial? Descubra aqui.</p>
          <facebook-login-button></facebook-login-button>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>
